/*? ============= Font Import ============= */

/* @font-face {
  font-family: "Catamaran-Bold";
  src: local("Catamaran-Bold"),
    url("./fonts/Catamaran-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Catamaran-ExtraBold";
  src: local("Catamaran-ExtraBold"),
    url("./fonts/Catamaran-ExtraBold.ttf") format("truetype");
} */

/* @font-face {
  font-family: "Asap-Bold";
  src: local("Asap-Bold"),
    url("../fonts/Asap/static/Asap-Bold.ttf") format("truetype");
} */

.root{
  /* min-height: 100vh; */
  /* background: #292c33; */
  /* background-color: #292c33; */
  /* display: flex; */
  /* flex-direction: column; */
}

body {
  /* display: flex; */
  /* min-height: 100vh; */
  /* flex-direction: column; */
  /* font-size: 62.5%; */
  /* background: rgb(41,44, 51); */
  /* background-color: rgb(41,44, 51); */
  /* font-family: "Open Sans", sans-serif; */
  /* line-height: 2; */
  /* background-color: #292c33; */
}

html {
    background-color: #C89364;

}

/*? ============= Home Page ============= */

.application {
  /* SenderOne Orange */
  /* #EA8C20 */
  /* SenderOne Light Blue */
  /* background-color: #339BEA; */

  /* background-color: #0084EA; SenderOne Darker Blue */
  /* background-color: #EEEEEE; SenderOne Light Grey*/
  /* background-color: #292C33; SenderOne Dark Grey */
  /* background-color: rgb(41, 44, 51); */
  background-color: #C89364;
  /* min-height: 200%; */
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 150%;
}

.welcomeText {
  font-size: 50px;
  color: white;
  font-family: "Asap-Bold";
}

.headerLogo {
  justify-content: center;
  width: 100%;
}

.footerLogo {

  width: 100%;
  /* max-height: 75px; */
  /* position: fixed; */
  /* bottom: 65px; */
  /* margin-bottom: 250px; */
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.homeBTNs {
  font-family: "Catamaran-ExtraBold";
  height: 80px;
  font-weight: 900;
  font-size: 25px;
  background-color: #FFCE8C;
  /* color: #17A1E2; */
  color: #000000;
  opacity: 100%;
  border-radius: 15px;

}

.homeBTNs:hover {
  /* background-color: #cf2b2bb5; */
  /* color: black; */
}


.homeMenu {
  /* max-width: 100%; */
}

/*? ============= Rankings Page ============= */

/* td {
  text-align: right;
  padding: 50px;
} */

/* tr {
  padding-top: 15px;
  margin-top: 15px;
} */

/* table {
  margin: 25px;
} */

/* table, th, td { */
table {
  border: 20px solid black;
  border-radius: 10px;
}

.teamRankingsTable {
  border: 10px solid black;
  border-radius: 10px;

  align-items: center;
  justify-content: center;
  /* margin-bottom: 15%; */

  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.teamRankingsTableRank {
  border-right: 5px solid black;
  border-bottom: 4px solid black;
  border-radius: 10px;
  font-size: 25px;
  width: 25px;
}

.teamRankingsTableTeamName {
  border-right: 5px solid black;
  border-bottom: 4px solid black;
  border-radius: 10px;
  font-size: 23px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.teamRankingsTablePoints {
  border-right: 10px solid black;
  border-bottom: 4px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
  width: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.teamRankingsTableTitle {
  border: 10px solid black;
  border-right: 5px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
}

.leaderboardTable {
  margin-bottom: 13%;
}

/*? ============= Scorecard Page ============= */

.scorecardTitleText {
  color: #000000;
  font-weight: 700;
}

.scorecardTableTitle {
  border: 10px solid black;
  border-right: 5px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
}

.scorecardTableRank {
  border-right: 5px solid black;
  border-bottom: 4px solid black;
  border-radius: 10px;
  font-size: 25px;
  width: 25px;
}

.scorecardTableTeamName {
  border-right: 5px solid black;
  border-bottom: 4px solid black;
  border-radius: 10px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.scorecardTableWitness {
  border-right: 10px solid black;
  border-bottom: 4px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
  width: 25px;
}



.scorcardSubmitButtonGroup {

  margin-bottom: 150px;

}

.scorecardButton{
  width: 50%;
  height: 100px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}